<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishAot>true</PublishAot>
    <SelfContained>true</SelfContained>
    <StripSymbols>true</StripSymbols>
    <DebugSymbols>false</DebugSymbols>
    <IlcOptimizationPreference>Speed</IlcOptimizationPreference>
  </PropertyGroup>
</Project>
